* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* top bar wraper */

.top_bar_wraper {
    background-color: #eeeeee;
    height: 26.8px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.top_bar {
    height: 24.8px;
    width: 1170px;
    padding: 8px 0px 6px;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
}

.pull_left {
    height: 10.8px;
    width: 452.96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: first baseline;
}

.pull_right {
    height: 10px;
    width: 150.24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #000000cc;
}

.headerlink {
    margin: 8px;
    height: 12px;
    font-size: 12px;
}

/* main header wraper */

.mainHeaderWrapper{
    display: flex;
    height: 50px;
    line-height: 17px;
    position: fixed;
    margin-top: 25px;
    background-color:white;
}